*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
}

#logo{
    font-size: 30px;
    font-weight: 600;
}

.toolBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 80%;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 10px;
}

.right{
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.icon-btn {
    background: transparent;  
    border: none;               
    padding: 8px;            
    cursor: pointer;
  }

  .icon-btn {
    transition: transform 0.1s ease;
  }
  
  .icon-btn:active {
    transform: scale(0.95);
  }
  
  .icon-btn i {
    font-size: 20px;      
    color: #ffffff;             
  }
  
.mainCanvas{
    width: 100%;
    height: 92vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    width: 15%;
    height: 95%;
    background-color: #1f1d1d;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.canvas{
    width: 80%;
    height: 95%;
    background-color: #1f1d1d;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.active-tool {
    background-color: #333;
    border-radius: 6px;
  }
  
